<div class="container-fluid" style="overflow-x: hidden;">
  <div class="row">
    <div class="col-lg-6" [@FocusPanel]='state' [@MovePanel]='state'>
      <div class="box-container">
        <div class="heading-container">
          <label>Sources</label>
          <button class="btn btn-danger pull-right" (click)="onResetAllClick(sourceForm)">Reset</button>
        </div>
        <hr />
        <div class="body-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th (click)="onNameSortClick()">
                  Source Name<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('name') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('name') >= 0 && sortFilter.order === false"></span>
                </th>
                <th (click)="onStatusSortClick()">
                  Status<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order === false"></span>
                </th>
                <th>
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" placeholder="Source Name" name="name" ngModel [(ngModel)]="filter.name"/>
                </td>
                <td>
                  <select name="status" ngModel [(ngModel)]="filter.status">
                    <option value="">All</option>
                    <option value="close">Blocked</option>
                    <option value="open">Unblocked</option>
                  </select>
                </td>
                <td></td>
              </tr>
              <tr *ngFor="let source of sources | masterFilter: {name: filter.name, status: filter.status} | orderBy: { type: sortFilter.type, order: sortFilter.order, fields: sortFilter.fields } | paginate: {itemsPerPage: listLimit, currentPage: page}">
                <td>
                  {{source.name}}
                </td>
                <td>
                  <label class="switch" >
                    <input type="checkbox" name="status" [checked] = "source.status" (change) ="onStatusChange(source)" >
                    <div class="slider round"></div>
                  </label>
                </td>
                <td>
                  <span class="glyphicon glyphicon-trash icon-small" style="text-align: center;" (click) = "onDeleteClick(source)"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="sources.length > limits[0]">
            <div class="pull-left">
              <label>Show </label>
            </div>
            <select class="input-control pull-left" style="width: auto; margin:auto 10px; padding: 2px 5px;" name="show" [(ngModel)] ="listLimit" required>
              <option *ngFor="let limit of limits" [value]="limit">
                {{limit}}
              </option>
            </select>
            <div class="pull-left">
              <label>Entries</label>
            </div>
            <div class="pull-right">
              <pagination-controls (pageChange) = "page = $event;" maxSize="3" previousLabel="Prev"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" [@FocusPanel]='state' [@MovePanel]='state'>
      <div class="box-container">
        <div class="heading-container">
          <label>Add New Source</label>
        </div>
        <hr />
        <div class="body-container">
          <form #sourceForm='ngForm' (ngSubmit) ="onFormSubmit(sourceForm)">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-2">
                  <label>Source</label>
                </div>
                <div class="col-xs-6">
                  <input type="text"  #sourceName='ngModel' id="sourceTextBox" name="source" [(ngModel)] = 'newSource.name' placeholder="Source Name" minlength="3" pattern="[a-zA-Z ]*" required/>
                </div>
                <div class="col-xs-3">
                  <button type="submit" class="btn btn-primary submit-btn" [disabled] = "sourceForm.invalid">Submit</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-8">
                  <div *ngIf = "sourceName.errors && (sourceName.dirty || sourceName.touched)" class="formControlError">
                    <div [hidden] = "!sourceName.errors.required">
                      This field is required
                    </div>
                    <div [hidden] = "sourceName.errors.required || !sourceName.errors.minlength">
                      Enter at least 3 characters.
                    </div>
                    <div [hidden] = "sourceName.errors.required || sourceName.errors.minlength || !sourceName.errors.pattern">
                      Enter Only Alphabetic characters.
                    </div>
                  </div>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
