.nav-container {
	height: 100%;
	float: left;
	margin: 0;
	background: #031525;
	color: white;
	transition: width 0.1s ease-in;
}

.main-container {
	margin: 0;
	float: left;
	height: 100%;
	overflow-y: auto;
	overflow-x: hidden;
}

.nav-expand {
	width: 240px;
}

.nav-collapse {
	width: 54px;
}

.main-expand {
	width: calc(100% - 240px);
}

.main-collapse {
	width: calc(100% - 54px);
}

@media (max-width: 991px) {
	.nav-container {
		width: 54px;
		z-index: 1000;
	}

	.main-container {
		width: calc(100% - 54px);
		z-index: 10;
	}

	.nav-collapse {
		width: 0px;
	}

	.main-collapse {
		width: 100%;
	}

	.nav-expand {
		width: 54px;
	}

	.main-expand {
		width: calc(100% - 54px);
	}
}

.component-container {
	margin: 30px;
}
