<div class="nav-container" [class.nav-collapse] = "collapseNavBar" [class.nav-expand] = "!collapseNavBar">
		<app-navbar [collapseNav] = "collapseNavBar" (expandevent) = "handleExpand($event)"></app-navbar>
</div>
<div class="main-container" [class.main-collapse] = "collapseNavBar" [class.main-expand]="!collapseNavBar">
	<profile-bar [name] = 'user.name' (myevent) = "handleEvent($event)"></profile-bar>
	<div class="component-container">
		<router-outlet></router-outlet>
	</div>
</div>
