select {
  width: 105%;
  padding: 5px 0px 5px 1px;
  border: 1px solid lightgray;
}

input, textarea {
  border: 1px solid lightgray;
  width: 90%;
  padding: 5px;
  padding-left: 5px;
}

.container-fluid {
  height: calc(100%-0px);
  overflow: auto;
}

input:hover, input:focus, input:active, select:focus, select:hover, select:active, textarea:hover, textarea:active, textarea:focus {
  outline: none;
  border: 1px solid lightgray;
}

input:focus, input:active, textarea:focus, textarea:active, select:focus, select:active {
	border: 1px solid #4FAF50;
	outline: none;
	padding: 3px 5px 3px 8px;
}

.input-error, .input-error:focus, .input-error:active {
	border: 1px dashed red;
	outline: none;
	padding: 3px 5px 3px 8px;
}

.glyphicon {
  top: auto;
}

td {
  text-transform: uppercase;
}

.btn-primary, .btn-primary:focus {
  background: #23c6FF;
  border-color: #23C6FF;
  outline: none;
}

.btn-primary:hover, .btn-primary:active {
	background: #23C6C8;
	border-color: #23C6C8;
	outline: none;
}

.btn {
  margin: 5px;
}

.btn-danger:focus {
  background: #d9534f;
  border-color: #d9534f;
  outline: none;
}

.btn-danger:hover, .btn-daner:active {
	background: red;
	border-color: red;
	outline: none;
}

.submit-btn {
  margin: 0;
  padding: 3px 12px;
  border-radius: 4px;
}
