<div class="container-fluid" [@FocusPanel]='state' [@MoveUpPanel]='state' *ngIf="!showAddForm">
  <div class="box-container">
    <div class="heading-container">
      <strong style="font-size: 0.95em;">Lead Management</strong>
    </div>
    <hr />
    <div class="heading-container">
      <label><span class="glyphicon glyphicon-plus-sign" style="font-size: 2.0em; color: #1AB394; margin-top: 5px;cursor: pointer;"  (click)="onAddLeadClick()"></span></label>
      <button class="btn btn-danger pull-right" (click)="onResetAllClick()">Reset</button>
    </div>
    <hr style="margin-top: 0;" />
    <div class="body-container">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%;" (click)="onCreatedSortClick()">
                Created On<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('created') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('created') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onNameSortClick()">
                Customer<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('fName') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('fName') >= 0 && sortFilter.order === false"></span>
              </th>
              <th>
                Mo. Number
              </th>
              <th (click)="onSourceSortClick()">
                Source<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('source') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('source') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onReqSortClick()">
                Requirement<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('requirement') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('requirement') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onStatusSortClick()">
                Status<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onAssignmentSortClick()">
                Assignment<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('assignment') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('assignment') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onFollowupSortClick()">
                Follow Up Date<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('nextDate') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('nextDate') >= 0 && sortFilter.order === false"></span>
              </th>
              <th>
                Log
              </th>
              <th>
                Edit
              </th>
              <th>
                Delete
              </th>
            </tr>
            <tr>
              <th>
                <datetime [timepicker]="false" [datepicker]="datePickerOptions" [(ngModel)]="leadFilter.created"></datetime>
              </th>
              <th>
                <input type="text" placeholder="Customer Name" name="name" ngModel [(ngModel)]="leadFilter.name"/>
              </th>
              <th>
                <input type="text" placeholder="Phone Number" name="mobile" ngModel [(ngModel)]="leadFilter.mobile"/>
              </th>
              <th>
                <select name="source" ngModel [(ngModel)]="leadFilter.source">
                  <option [value] = ""></option>
                  <option *ngFor="let source of sources" [value]="source.name">{{source.name}}</option>
                </select>
              </th>
              <th>
                <select name="requirement" ngModel [(ngModel)]="leadFilter.requirement">
                  <option [value] = ""></option>
                  <option *ngFor="let requirement of requirements" [value]="requirement.name">{{requirement.name}}</option>
                </select>
              </th>
              <th>
                <select name="status" ngModel [(ngModel)]="leadFilter.status">
                  <option [value] = ""></option>
                  <option *ngFor="let status of statuses" [value]="status.name">{{status.name}}</option>
                </select>
              </th>
              <th>
                <select name="assignment" ngModel [(ngModel)]="leadFilter.assignment">
                  <option [value] = ""></option>
                  <option *ngFor="let user of users" [value]="user._id">{{user.firstName}} {{user.lastName}}</option>
                </select>
              </th>
              <th>
                <select name="ndate" ngModel [(ngModel)]="leadFilter.ndate">
                  <option value="">All</option>
                  <option value="red">Red</option>
                  <option value="purple">Purple</option>
                  <option value="green">Green</option>
                </select>
              </th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lead of leads | leadfilter: {created: leadFilter.created, name: leadFilter.name, mobile: leadFilter.mobile, status: leadFilter.status, source: leadFilter.source, requirement: leadFilter.requirement, assignment: leadFilter.assignment, ndate: leadFilter.ndate } | orderBy: { type: sortFilter.type, order: sortFilter.order, fields: sortFilter.fields } | paginate: {itemsPerPage: listLimit, currentPage: page}">
              <td>
                {{lead.created | date: 'dd-MM-yyyy'}}
              </td>
              <td>
                {{lead.fName}} {{lead.lName}}
              </td>
              <td style="text-transform: lowercase;">
                {{lead.mobile}}
              </td>
              <td>
                {{lead.source}}
              </td>
              <td>
                {{lead.requirement}}
              </td>
              <td>
                {{lead.status}}
              </td>
              <td>
                {{lead.assignment}}
              </td>
              <td>
                <div class="overdueStatus" [class.overdue]="lead.overdueStatus === 'overdue'" [class.near-future]="lead.overdueStatus === 'near_future'" [class.safe]="lead.overdueStatus === 'safe'">
                  {{lead.nextDate | date:'dd-MM-yyyy'}}
                </div>
              </td>
              <td>
                <span class="glyphicon glyphicon-list-alt" data-toggle="modal" data-target="#addLogModel" (click) = "onLogClick(lead)"></span>
              </td>
              <td>
                <span class="glyphicon glyphicon-edit" (click)="onEditClick(lead)"></span>
              </td>
              <td>
                <span class="glyphicon glyphicon-trash" (click)="onDeleteClick(lead)"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="leads.length > limits[0]">
          <div class="pull-left">
            <label>Show </label>
          </div>
          <select class="input-control pull-left" style="width: auto; margin:auto 10px; padding: 2px 5px;" name="show" [(ngModel)] ="listLimit" (change)="changePagination()" required>
            <option *ngFor="let limit of limits" [value]="limit">
              {{limit}}
            </option>
          </select>
          <div class="pull-left">
            <label>Entries</label>
          </div>
          <div class="pull-right">
            <pagination-controls (pageChange) = "page = $event" maxSize="6" previousLabel="Prev"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addLogModel" role="dialog">
  <div class="modal-dialog" style="margin-top: 8%; width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="pull-left">Lead Follow Up</h4>
        <span class="glyphicon glyphicon-remove pull-right" style=" line-height:3.0em; margin-left: 10px;" data-dismiss="modal"></span>
        <button class="btn btn-primary pull-right" (click)="onAddLogClick()" *ngIf="!showFollowupForm">Add Log</button>
      </div>
      <div class="modal-body" *ngIf="modalLead && !showFollowupForm">
        <div class="row" *ngIf="followUps.length > 0">
          <div class="col-sm-7">
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Lead</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.fName}} {{modalLead.lName}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Phone Number</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.mobile}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Address</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.address}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Assigned To</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.assignment}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Next Follow Up Date</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.date | date: 'dd-MM-yyyy'}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Source</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.source}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Status</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.status}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Requirement</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.requirement}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Follow Up Details</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.detail}}
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div *ngFor="let followup of followUps">
              <span style="display: inline-block">
                <div class="clickable-link" (click)="onChangeFollowUp(followup)" [style.background-color] = "modalFollowUp._id === followup._id ? purple : inherit">
                  {{followup.created | date: 'dd-MM-yyyy'}}
                </div>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="followUps.length <= 0" style="text-align: center;">
          No Follow Ups to Display.
        </div>
      </div>
      <div class="modal-body" *ngIf="showFollowupForm">
        <form #followUpForm ='ngForm' (ngSubmit)="onFollowUpSubmit(followUpForm)">
          <div class="form-group row">
            <div class="col-md-3 label-container">
              <label>Change Status</label>
            </div>
            <div class="col-md-6">
              <select class="input-control" name="status" [(ngModel)] ="newFollowUp.status" required>
                <option *ngFor="let status of statuses | filter: true" [value]="status.name" [selected] = "status.name === statuses[0].name">
                  {{status.name}}
                </option>
              </select>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-3 label-container">
                <label>Change Assignment</label>
            </div>
            <div class="col-md-6">
              <select class="input-control" name="assignmentFollowUp" [(ngModel)] ="newFollowUp.userid" required>
                <option *ngFor="let user of users | filter: true" [value]="user._id" [selected] = "user._id === users[0]._id">
                  {{user.firstName}} {{user.lastName}} ({{user.username}})
                </option>
              </select>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-3 label-container">
                <label>Next Follow Up Date</label>
            </div>
            <div class="col-md-6">
              <datetime [timepicker]="false" name="followUpDate" class="input-control" id="followUp-ndate" [datepicker]="datePickerOptions" [(ngModel)]="newFollowUp.ndate" #followUpDate='ngModel' ngModel required></datetime>
              <div *ngIf = "followUpDate.errors && (followUpDate.dirty || followUpDate.touched)" class="formControlError">
                <div [hidden] = "!followUpDate.errors.required">
                  This field is required
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <div class="form-group row">
            <div class="col-md-3 label-container">
              <label>Follow Up Details</label>
            </div>
            <div class="col-md-6">
              <textarea name="details" class="input-control" [(ngModel)] ="newFollowUp.details" maxlength="200" #followupDetail='ngModel' ngModel [class.input-error] = "followupDetail.errors && (followupDetail.dirty || followupDetail.touched)" required></textarea>
              <div *ngIf = "followupDetail.errors && (followupDetail.dirty || followupDetail.touched)" class="formControlError">
                <div [hidden] = "!followupDetail.errors.required">
                  This field is required
                </div>
                <div [hidden] = "followupDetail.errors.required || !followupDetail.errors.maxlength">
                  Max 200 characters are allowed
                </div>
              </div>
            </div>
            <div class="col-md-3"></div>
          </div>
          <hr class="hr-dashed" />
          <div class="form-group row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-primary" [disabled] = "followUpForm.invalid">Submit</button>
                <button type="button" class="btn btn-danger" (click)="onFollowUpCancelClick(followUpForm)">Cancel</button>
            </div>
            <div class="col-md-3"></div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid box-container"  [@FocusPanel]='state' [@MovePanel]='state' *ngIf="showAddForm">
  <div class="heading-container">
    <label *ngIf="!updateLead">Add New Lead</label>
    <label *ngIf="updateLead">Edit Lead</label>
  </div>
  <hr />
  <div class="body-container">
    <form #leadForm ='ngForm' (ngSubmit)="onSubmit(leadForm)">
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>First Name</label>
        </div>
        <div class="col-md-6">
            <input type="text" name="fname" class="input-control" #fName='ngModel' minlength = "3" ngModel [(ngModel)] ="newLead.fName" [class.input-error] = "fName.errors && (fName.dirty || fName.touched)" pattern='[a-zA-Z]*' required/>
            <div *ngIf = "fName.errors && (fName.dirty || fName.touched)" class="formControlError">
              <div [hidden] = "!fName.errors.required">
                This field is required
              </div>
              <div [hidden] = "fName.errors.required || !fName.errors.minlength">
                Enter at least 3 characters.
              </div>
              <div [hidden] = "fName.errors.required || fName.errors.minlength || !fName.errors.pattern">
                Only alphabetic charaters allowed.
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Last Name</label>
        </div>
        <div class="col-md-6">
          <input type="text" name="lName" pattern="[a-zA-Z]*" class="input-control" #lName='ngModel' minlength = "3" ngModel [(ngModel)] ="newLead.lName" [class.input-error] = "lName.errors && (lName.dirty || lName.touched)" required/>
          <div *ngIf = "lName.errors && (lName.dirty || lName.touched)" class="formControlError">
            <div [hidden] = "!lName.errors.required">
              This field is required
            </div>
            <div [hidden] = "lName.errors.require || !lName.errors.minlength">
              Enter at least 3 characters.
            </div>
            <div [hidden] = "lName.errors.require || lName.errors.minlength || !lName.errors.pattern">
              Only alphabetic characters allowed.
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Phone Number</label>
        </div>
        <div class="col-md-6">
          <input type="text" name="mobile" class="input-control" #mobile='ngModel' minlength = "9" maxlength="13" ngModel [(ngModel)] ="newLead.mobile" [class.input-error] = "mobile.errors && (mobile.dirty || mobile.touched)" pattern='\+?[0-9]*' required/>
          <div *ngIf = "mobile.errors && (mobile.dirty || mobile.touched)" class="formControlError">
            <div [hidden] = "!mobile.errors.required">
              This field is required
            </div>
            <div [hidden] = "mobile.errors.require || mobile.errors.pattern || !mobile.errors.minlength">
              Enter at least 9 characters.
            </div>
            <div [hidden] = "mobile.errors.require || mobile.errors.pattern || mobile.errors.minlength || !mobile.errors.maxlength">
              Your mobile no. should be max 13 characters long.
            </div>
            <div [hidden] = "mobile.errors.require || !mobile.errors.pattern">
              Only numbers are allowed
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Address</label>
        </div>
        <div class="col-md-6">
          <textarea name="address" class="input-control" [(ngModel)] ="newLead.address" #address='ngModel' ngModel [class.input-error] = "address.errors && (address.dirty || address.touched)" required></textarea>
          <div *ngIf = "address.errors && (address.dirty || address.touched)" class="formControlError">
            <div [hidden] = "!address.errors.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Source</label>
        </div>
        <div class="col-md-6">
          <select class="input-control" name="source" [(ngModel)] ="newLead.source" required>
            <option *ngFor="let source of sources | filter: true" [value]="source.name" [selected] = "source.name === sources[0].name">
              {{source.name}}
            </option>
          </select>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Assignment</label>
        </div>
        <div class="col-md-6">
          <select class="input-control" name="assignment" [(ngModel)] ="newLead.assignment" required>
            <option *ngFor="let user of users | filter: true" [value]="user._id" [selected] = "user._id === users[0]._id">
              {{user.firstName}} {{user.lastName}} ({{user.username}})
            </option>
          </select>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Status</label>
        </div>
        <div class="col-md-6">
          <select class="input-control" name="status" [(ngModel)] ="newLead.status" required>
            <option *ngFor="let status of statuses | filter: true" [value]="status.name" [selected] = "status.name === statuses[0].name">
              {{status.name}}
            </option>
          </select>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Requirement</label>
        </div>
        <div class="col-md-6">
          <select class="input-control" name="requirement" [(ngModel)] ="newLead.requirement" required>
            <option *ngFor="let requirement of requirements | filter: true" [value]="requirement.name" [selected] = "requirement.name === requirements[0].name">
              {{requirement.name}}
            </option>
          </select>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Follow Up Date</label>
        </div>
        <div class="col-md-6">
          <datetime [timepicker]="false" name="followDate" class="input-control" id="form-date" [datepicker]="datePickerOptions" [(ngModel)]="newLead.ndate" #followUp='ngModel' ngModel required></datetime>
          <div *ngIf = "followUp.errors && (followUp.dirty || followUp.touched)" class="formControlError">
            <div [hidden] = "!followUp.errors.required">
              This field is required
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Notes</label>
        </div>
        <div class="col-md-6">
          <input type="text" name="notes" class="input-control" [(ngModel)] = 'newLead.notes' #notes='ngModel' maxlength = "200" ngModel [class.input-error] = "notes.errors && (notes.dirty || notes.touched)" required/>
          <div *ngIf = "notes.errors && (notes.dirty || notes.touched)" class="formControlError">
            <div [hidden] = "!notes.errors.required">
              This field is required
            </div>
            <div [hidden] = "notes.required || !notes.errors.maxlength">
              Max 200 characters allowed
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <hr class="hr-dashed" />
      <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" [disabled] = "leadForm.invalid" (click)="onUpdateClick()" *ngIf="updateLead">Update</button>
            <button type="submit" class="btn btn-primary" [disabled] = "leadForm.invalid" *ngIf='!updateLead'>Submit</button>
            <button type="button" class="btn btn-danger" (click)="onCancelClick(leadForm)">Cancel</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
</div>
