<div class="container-fluid" style="overflow-x: hidden;">
  <div class="row">
    <div class="col-lg-6"  [@FocusPanel]='state' [@MovePanel]='state'>
      <div class="box-container">
        <div class="heading-container">
          <label>Status</label>
          <button class="btn btn-danger pull-right" (click)="onResetAllClick(statusForm)">Reset</button>
        </div>
        <hr />
        <div class="body-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th (click)="onNameSortClick()">
                  Status Name<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('name') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('name') >= 0 && sortFilter.order === false"></span>
                </th>
                <th (click)="onStatusSortClick()">
                  Status<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order === false"></span>
                </th>
                <th (click)="onOrderSortClick()">
                  Order<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('order') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('order') >= 0 && sortFilter.order === false"></span>
                </th>
                <th>
                  Action
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" placeholder="Status Name" name="name" ngModel [(ngModel)]="filter.name"/>
                </td>
                <td>
                  <select name="statuss" ngModel [(ngModel)]="filter.status">
                    <option value="">All</option>
                    <option value="close">Blocked</option>
                    <option value="open">Unblocked</option>
                  </select>
                </td>
                <td></td>
                <td></td>
              </tr>
              <tr *ngFor="let status of statuses | masterFilter: {name: filter.name, status: filter.status} | orderBy: { type: sortFilter.type, order: sortFilter.order, fields: sortFilter.fields } | paginate: {itemsPerPage: listLimit, currentPage: page}">
                <td>
                  {{status.name}}
                </td>
                <td>
                  <label class="switch" >
                    <input type="checkbox" name="status" [checked] = "status.status" (change) ="onStatusChange(status)" >
                    <div class="slider round"></div>
                  </label>
                </td>
                <td style="text-align: center">
                  {{status.order}}
                </td>
                <td>
                  <span class="glyphicon glyphicon-trash icon-small" (click) = "onDeleteClick(status)"></span>
                  <span class="glyphicon glyphicon-edit icon-small" (click) = "onEditClick(status)"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="statuses.length > limits[0]">
            <div class="pull-left">
              <label>Show </label>
            </div>
            <select class="input-control pull-left" style="width: auto; margin:auto 10px; padding: 2px 5px;" name="show" [(ngModel)] ="listLimit" required>
              <option *ngFor="let limit of limits" [value]="limit">
                {{limit}}
              </option>
            </select>
            <div class="pull-left">
              <label>Entries</label>
            </div>
            <div class="pull-right">
              <pagination-controls (pageChange) = "page = $event;" maxSize="3" previousLabel="Prev"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6"  [@FocusPanel]='state' [@MovePanel]='state'>
      <div class="box-container">
        <div class="heading-container">
          <label *ngIf="updateStatusObj === null">Add New Status</label>
          <label *ngIf="updateStatusObj !== null">Edit {{updateStatusObj.name}} Status</label>
        </div>
        <hr />
        <div class="body-container">
          <form #statusForm='ngForm' (ngSubmit) ="onFormSubmit(statusForm)">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                  <label>Status</label>
                </div>
                <div class="col-xs-7">
                  <input type="text" ngModel name="status" #statusName = 'ngModel' [(ngModel)] = 'newStatus.status' minlength="3" pattern="[a-zA-Z]*" required/>
                  <div *ngIf = "statusName.errors && (statusName.dirty || statusName.touched)" class="formControlError">
                    <div [hidden] = "!statusName.errors.required">
                      This field is required
                    </div>
                    <div [hidden] = "statusName.errors.required || !statusName.errors.minlength">
                      Enter at least 3 characters.
                    </div>
                    <div [hidden] = "statusName.errors.required || statusName.errors.minlength || !statusName.errors.pattern">
                      Enter Only Alphabetic characters.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-1"></div>
                <div class="col-xs-4">
                  <label>Status Order</label>
                </div>
                <div class="col-xs-7">
                  <input type="text" ngModel name="order" #statusOrder = 'ngModel' pattern="[0-9]*" [(ngModel)]="newStatus.order" required/>
                  <div *ngIf = "statusOrder.errors && (statusOrder.dirty || statusOrder.touched)" class="formControlError">
                    <div [hidden] = "!statusOrder.errors.required">
                      This field is required.
                    </div>
                    <div [hidden] = "statusOrder.errors.required || !statusOrder.errors.pattern">
                      Only numbers are allowed.
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="row">
                <div class="col-xs-5"></div>
                <div class="col-xs-7">
                  <button type="button" class="btn btn-primary" [disabled] = "statusForm.invalid" *ngIf = "updateStatusObj !== null" (click)="onUpdateClick(statusForm)">Update</button>
                  <button type="submit" class="btn btn-primary" [disabled] = "statusForm.invalid" *ngIf = "updateStatusObj === null">Submit</button>
                  <button type="button" class="btn btn-danger" (click) = "onResetClick(statusForm);">Reset</button>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
