<div class="container" [@FocusPanel]='state' [@MovePanel]='state'>
	<div class="row mainContainer"  *ngIf="send">
		<div class="col-md-6">
			<img src="./assets/img/logo.jpg" />
		</div>

		<div class="col-md-6">
      <div class="heading-container" style="text-align: center;">
        Forgot Password? <span class="glyphicon glyphicon-menu-left pull-right" style="font-size: 2.0em; cursor: pointer;" (click) ="onBackClick()"></span>
      </div>
      <hr />
      <div class="body-container">
        Enter your email address and your password reset link will be emailed to you.
      </div>
			<form #forgetPasswordForm = "ngForm" (ngSubmit) = "onFormSubmit(forgetPasswordForm)" novalidate>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="row col-xs-10 inputContainer">
							<div class="row">
								<div class="col-xs-1 imgContainer">
									<img src="./assets/img/@.png" style="width: 35px;"/>
								</div>
								<div class="col-xs-10">
									<input ngModel #email = 'ngModel' type="email" placeholder="Enter You Email" name="email" [(ngModel)] = 'user.email' required email />
								</div>
								<div class="col-xs-1"></div>
							</div>
						</div>
						<div class="col-xs-1"></div>
					</div>
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="col-xs-10" style="margin: 0px; padding: 0px;">
							<div *ngIf = "email.errors && (email.dirty || email.touched)" class="formControlError">
								<div [hidden] = "!email.errors.required">
									This field is required
								</div>
								<div [hidden] = "email.errors.required || !email.errors.email">
									Invalid Email Address
								</div>
							</div>
						</div>
						<div class="col-xs-1"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-1"></div>
							<button type="submit" [disabled] = "forgetPasswordForm.invalid" class="col-xs-10 btn btn-primary">Send Reset Link</button>
						<div class="col-xs-1"></div>
					</div>
				</div>
			</form>
		</div>
	</div>
  <div class="row mainContainer" *ngIf="!send">
		<div class="col-md-6">
			<img src="./assets/img/logo.jpg" />
		</div>
    <div class="col-md-6">
      <div class="heading-container" style="text-align: center">
        Reset Password
      </div>
      <hr />
      <form #resetPasswordForm = "ngForm" (ngSubmit) = "onResetFormSubmit(resetPasswordForm)" novalidate>
          <div class="form-group">
  					<div class="row">
  						<div class="col-xs-1"></div>
  						<div class="row col-xs-10 inputContainer">
  							<div class="row">
  								<div class="col-xs-1 imgContainer">
  									<img src="./assets/img/login_2.png" style="width: 40px;"/>
  								</div>
  								<div class="col-xs-10">
                    <input type="password" name="newPassword" #newPassword='ngModel' placeholder="New Password" minlength = "8" ngModel [(ngModel)] ="resetPassword.newPassword" required/>
  								</div>
  								<div class="col-xs-1"></div>
  							</div>
  						</div>
  						<div class="col-xs-1"></div>
  					</div>
  					<div class="row">
  						<div class="col-xs-1"></div>
  						<div class="col-xs-10" style="margin: 0px; padding: 0px;">
                <div *ngIf = "newPassword.errors && (newPassword.dirty || newPassword.touched)" class="formControlError">
                  <div [hidden] = "!newPassword.errors.required">
                    This field is required
                  </div>
                  <div [hidden] = "newPassword.errors.require || !newPassword.errors.minlength">
                    Enter at least 8 characters.
                  </div>
                </div>
  						</div>
  						<div class="col-xs-1"></div>
  					</div>
  				</div>
          <div class="form-group">
  				  <div class="row">
  						<div class="col-xs-1"></div>
  						<div class="row col-xs-10 inputContainer" [class.input-error] = "confirmError">
  							<div class="row">
  								<div class="col-xs-1 imgContainer">
  									<img src="./assets/img/login_2.png" style="width: 40px;"/>
  								</div>
  								<div class="col-xs-10">
                    <input type="password" name="confirmPassword" [(ngModel)] = 'resetPassword.confirmPassword' placeholder="Retype New Passwword" #confirmPassword='ngModel' minlength = "8" ngModel required />
  								</div>
  								<div class="col-xs-1"></div>
  							</div>
  						</div>
  						<div class="col-xs-1"></div>
  					</div>
  				    <div class="row">
  					    <div class="col-xs-1"></div>
  					    <div class="col-xs-10" style="margin: 0px; padding: 0px;">
                    <div *ngIf = "confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="formControlError">
                      <div [hidden] = "!confirmPassword.errors.required">
                        This field is required
                      </div>
                      <div [hidden] = "confirmPassword.errors.required || !confirmPassword.errors.minlength">
                        Enter at least 8 characters.
                      </div>
                    </div>
                    <div *ngIf = "!confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched) && (confirmPassword.value !== newPassword.value)" class="formControlError">
                      This Password must match with new Password.
                    </div>
                </div>
                <div class="col-xs-1"></div>
  				   </div>
  				</div>
  				<div class="form-group">
  					<div class="row">
  						<div class="col-xs-1"></div>
  							<button type="submit" [disabled] = "resetPasswordForm.invalid" class="col-xs-10 btn btn-primary">Reset Password</button>
  						<div class="col-xs-1"></div>
  					</div>
  				</div>
  			</form>
    </div>
	</div>
</div>
<my-footer></my-footer>
