.mainContainer {
	margin: 15% 15%;
	background: white;
	padding: 30px;
	box-shadow: lightgray 1px 1px 4px 1px;
}

.inputContainer {
	border: 1px solid lightgray;
	margin: 0;
	padding: 2px 0;
}

.btn {
	padding: 4px;
	margin: 0;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #18a689;
	border-color: #18a689;
	outline: none;
}

img {
	padding: 2px 5px;
	width: 100%;
}

input {
	border: none;
	margin: 0 10px;
	padding: 2px 6px;
	line-height: 1.8em;
	width: 100%;
	box-shadow: none;
}

:focus, :active, :hover {
	outline: none;
}

hr {
  margin-top: 5px;
}

form {
	padding: 10px;
  margin-top: 0;
}

.form-group {
  margin-top: 10px;
  margin-bottom: 10px;
}

.body-container {
  margin-bottom: 0;
  padding-bottom: 0;
}
