.card-icon{
	font-size: 5.0em;
	font-weight: lighter;
	float: left;
	margin-left:10px;
	display: block;
	color: white;
}

.box {
  height: 120px;
	padding: 8px;
	margin-top: 10px;
	color: white;
}

.box-left {
  margin-right: 15px;
}

.box-right {
  margin-left: 15px;
}

.collapse-btn {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
}

.collapse-btn:hover, .collapse-btn:active, .collapse-btn:focus {
  outline: none;
  border: none;
}

.button-group button {
  font-size: 0.8em;
  border-radius: 5px;
  padding: 3px 7px;
  background: white;
  box-shadow: #DDD 1px 1px 1px 1px;
}

.button-group button:hover, .button-group button:active, .button-group button:focus {
  outline: none;
  border: none;
  box-shadow: #BBB 1px 1px 1px 1px;
}

.button-group .active {
  background: #337AB7;
  color: white;
}

@media (max-width: 1199px) {
  .box-left {
    margin-right: 0;
  }

  .box-right {
    margin-left: 0;
  }
}

.progress{
	height: 5px;
}
