<div class="container-fluid" style="overflow-x: hidden;">
  <div class="row"  [@FocusPanel]='state' [@MovePanel]='state' style="overflow-x: hidden;">
    <div class="col-lg-3 col-sm-6">
        <div class="container-fluid box" style="background-color:#418BCA">
          <div class="row">
            <div class="col-md-3 col-sm-4 col-lg-5">
              <span class="glyphicon glyphicon-bell card-icon"></span>
            </div>
            <div class="col-md-9 col-sm-8 col-lg-7">
              <strong style="font-size:1.15em;">Follow Up by Today</strong>
              <h1 style="font-size:1.7em;">{{todayLeads}}</h1>
            </div>
          </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 ">
      <div class="container-fluid box" style="background-color:#1CB09A">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-lg-5">
            <span class="glyphicon glyphicon-calendar card-icon"></span>
          </div>
          <div class="col-md-9 col-sm-8 col-lg-7">
            <strong style="font-size:1.15em;">	Upcoming Follow Up</strong>
            <h1 style="font-size:1.7em;">{{upcomingLeads}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="container-fluid box" style="background-color:#D9544F">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-lg-5">
            <span class="glyphicon glyphicon-exclamation-sign card-icon"></span>
          </div>
          <div class="col-md-9 col-sm-8 col-lg-7">
            <strong style="font-size:1.15em;">Overdue Follow Ups</strong>
            <h1 style="font-size:1.7em;">{{overdueLeads}}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-sm-6">
      <div class="container-fluid box" style="background-color:#A512AA">
        <div class="row">
          <div class="col-md-3 col-sm-4 col-lg-5">
            <span class="glyphicon glyphicon-thumbs-up card-icon"></span>
          </div>
          <div class="col-md-9 col-sm-8 col-lg-7">
            <strong style="font-size:1.15em;">Monthly Success</strong>
            <h1 style="font-size: 1.7em;">{{successLeads}}</h1>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="container-fluid box-container" [@FocusPanel]='state' [@MoveUpPanel]='state' style="margin-top:20px;">
  <div class="row heading-container" style="background:white;">
    <div class="pull-left">
      <strong>Report</strong>
    </div>
    <div class="pull-right" style="margin-top:10px;">
        <div class="button-group" style="float:right;">
        <button type="button" class="btn" [class.active] = "statusDisplay === 'date'" (click)="onWeeklyStatusClick()">Weekly </button>
        <button type="button" class="btn" [class.active] = "statusDisplay === 'week'" (click)="onMonthlyStatusClick()">Monthly</button>
        <button type="button" class="btn" [class.active] = "statusDisplay === 'month'" (click)="onQuaterlyStatusClick()">Quaterly </button>
      </div>
    </div>
  </div>
  <hr />
  <div class="row" style="background:white;">
    <div class="col-md-8">
      <div style="display: block">
        <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType"
            (chartHover)="chartHovered($event)"
            (chartClick)="chartClicked($event)">
          </canvas>
        </div>
    </div>
    <div class="col-md-4" style="max-height: 500px; overflow-y: auto; font-size: 0.83em;"  *ngIf="keysGetter(statusWise).length > 0">
      <div *ngFor = "let key of keysGetter(statusWise); let i = index">
        <strong style="font-size: 1.5em;" *ngIf="statusDisplay==='date'">{{statusWise[key]/totalLeadsWeek*100 | number: '1.2-2'}}%</strong>
        <strong style="font-size: 1.5em;" *ngIf="statusDisplay==='week'">{{statusWise[key]/totalLeadsMonth*100 | number: '1.2-2'}}%</strong>
        <strong style="font-size: 1.5em;" *ngIf="statusDisplay==='month'">{{statusWise[key]/totalLeadsQuater*100 | number: '1.2-2'}}%</strong>
        <p>{{key}}</p>
        <div class="progress">
          <div class="progress-bar" [style.background-color] = 'colors[i%10]' [style.width] = '(statusDisplay === "date" ? statusWise[key]/totalLeadsWeek*100 : (statusDisplay === "week" ? statusWise[key]/totalLeadsMonth*100 : (statusDisplay === "month" ? statusWise[key]/totalLeadsQuater*100 : 0)))+"%"' role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4" style="max-height: 500px; overflow-y: auto; font-size: 0.83em;"  *ngIf="keysGetter(statusWise).length <= 0">
      <div>
        <strong style="font-size:1.6em;">{{0|number: '1.2-2'}}</strong>
        <p>OPEN</p>
        <div class="progress">
          <div class="progress-bar" [style.background-color] = 'colors[0]' [style.width] = '0+"%"' role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      <div>
        <strong style="font-size:1.6em;">{{0|number: '1.2-2'}}</strong>
        <p>WORKING</p>
        <div class="progress">
          <div class="progress-bar" [style.background-color] = 'colors[0]' [style.width] = '0+"%"' role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      <div>
        <strong style="font-size:1.6em;">{{0|number: '1.2-2'}}</strong>
        <p>SUCCESS</p>
        <div class="progress">
          <div class="progress-bar" [style.background-color] = 'colors[0]' [style.width] = '0+"%"' role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
      <div>
        <strong style="font-size:1.6em;">{{0|number: '1.2-2'}}</strong>
        <p>FAIL</p>
        <div class="progress">
          <div class="progress-bar" [style.background-color] = 'colors[0]' [style.width] = '0+"%"' role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid box-container" [@FocusPanel]='state' [@MoveUpPanel]='state'>
  <div class="heading-container">
    <div>
      <strong>User Wise Lead Analysis</strong>
    </div>
    <div class="button-group" style="margin-top: 10px;">
      <button type="button" class="btn" [class.active] = "userDisplay === 'week'" (click)="onWeeklyUserClick()">Weekly </button>
      <button type="button" class="btn" [class.active] = "userDisplay === 'month'" (click)="onMonthlyUserClick()">Monthly</button>
      <button type="button" class="btn" [class.active] = "userDisplay === 'quarter'" (click)="onQuaterlyUserClick()">Quarterly</button>
      <button type="button" class="btn" [class.active] = "userDisplay === 'all'" (click)="onOverallClick()">Overall</button>
    </div>
  </div>
  <div class="body-container" style="margin-top: 0px;">
    <div class="table-responsive" id="lead" style="max-height: 350px;">
      <table class="table table-striped" style="overflow-x:scroll;">
        <thead>
          <tr class="tt-r">
            <th style="width:12.5%">User Name</th>
            <th style="width:12.5%">Assigned</th>
            <th style="width:12.5%">Open</th>
            <th style="width:12.5%">Working</th>
            <th style="width:12.5%">Success</th>
            <th style="width:12.5%">Fail</th>
            <th style="width:12.5%">Efficiency</th>
          </tr>
        </thead>
        <tbody>
          <tr class="t-tr" *ngFor="let key of keysGetter(userWise)">
            <td class="t-td">{{userWise[key].name}}</td>
            <td class="t-td">{{userWise[key].assigned}}</td>
            <td class="t-td">{{userWise[key].OPEN ? userWise[key].OPEN : 0 }}</td>
            <td class="t-td">{{userWise[key].WORKING ? userWise[key].WORKING : 0 }}</td>
            <td class="t-td">{{userWise[key].SUCCESS ? userWise[key].SUCCESS : 0 }}</td>
            <td class="t-td">{{userWise[key].FAIL ? userWise[key].FAILE : 0 }}</td>
            <td class="t-td">{{(userWise[key].SUCCESS ? (userWise[key].SUCCESS/userWise[key].assigned*100) : 0) | number: '1.2-2'}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  </div>

<div class="container-fluid" [@FocusPanel]='state' [@MoveUpPanel]='state' style="margin-top:20px;">
<div class="row">
  <div class="col-lg-6" style="padding: 0;">
    <div class="box-container box-left">
      <button data-toggle="collapse" data-target="#collapse1" class="collapse-btn heading-container">
        <div class="pull-left">
          <strong>Active User</strong>
        </div>
        <div class="pull-right">
          <span class="glyphicon glyphicon-menu-down"></span>
        </div>
      </button>
      <hr />
      <div class="body-container">
        <div id="collapse1" class="panel-collapse collapse" style="min-height: 370px; max-height: 370px;">
          <div class="table-responsive" id="lead-active">
            <table class="table table-striped table-fixed">
              <thead>
                <tr>
                  <th class="th_head">Name</th>
                  <th class="th_head">Email Id</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let user of onlineUsers">
                  <td>{{user.name}}</td>
                  <td>{{user.email}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-lg-6" style="padding: 0;">
    <div class="box-container box-right">
      <button data-toggle="collapse" data-target="#collapse2" class="collapse-btn  heading-container">
        <div class="pull-left">
          <strong>Source Wise Lead Distribution</strong>
        </div>
        <div class="pull-right">
          <span class="glyphicon glyphicon-menu-down"></span>
        </div>
      </button>
      <hr />
      <div class="body-container">
        <div id="collapse2" class="panel-collapse collapse" style="min-height: 370px; max-height: 370px;">
          <div style="margin: auto; width: 80%;" *ngIf="sourceChartData.length > 0">
            <canvas baseChart
                        [data]="sourceChartData"
                        [labels]="sourceChartLabels"
                        [chartType]="sourceChartType"
                        [colors]="[{backgroundColor: sourceChartColors}]"
                        (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"
                        [style.height]="300+'px'"></canvas>
          </div>
          <div style="margin: auto; width: 80%; height: 370px; text-align: center;" *ngIf="sourceChartData.length <= 0">
            <h5 style="margin: 0;">No Data to Disply</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

</div>
