<div class="container-fluid box-container" [@FocusPanel]='state' [@MovePanel]='state'>
  <div class="heading-container">
    <label>Change Password</label>
  </div>
  <hr />
  <div class="body-container">
    <form #passwordForm ='ngForm' (ngSubmit)="onSubmit(passwordForm)">
      <div class="form-group row">
        <div class="col-md-2">
            <label>Old Password</label>
        </div>
        <div class="col-md-7">
            <input type="password" name="oldPassword" class="input-control" #oldPassword='ngModel' minlength = "8" ngModel [(ngModel)] ="passwordObj.password" [class.input-error] = "oldPassword.errors && (oldPassword.dirty || oldPassword.touched)" required/>
            <div *ngIf = "oldPassword.errors && (oldPassword.dirty || oldPassword.touched)" class="formControlError">
              <div [hidden] = "!oldPassword.errors.required">
                This field is required
              </div>
              <div [hidden] = "oldPassword.errors.required || !oldPassword.errors.minlength">
                Enter at least 8 characters.
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
            <label>New Password</label>
        </div>
        <div class="col-md-7">
          <input type="password" name="newPassword" class="input-control" #newPassword='ngModel' minlength = "8" ngModel [(ngModel)] ="passwordObj.newPassword" [class.input-error] = "newPassword.errors && (newPassword.dirty || newPassword.touched)" required/>
          <div *ngIf = "newPassword.errors && (newPassword.dirty || newPassword.touched)" class="formControlError">
            <div [hidden] = "!newPassword.errors.required">
              This field is required
            </div>
            <div [hidden] = "newPassword.errors.require || !newPassword.errors.minlength">
              Enter at least 8 characters.
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-2">
            <label>Retype New Password</label>
        </div>
        <div class="col-md-7">
          <input type="password" name="confirmPassword" class="input-control" [(ngModel)] = 'passwordObj.confirmPassword' #confirmPassword='ngModel' minlength = "8" ngModel [class.input-error] = "(confirmPassword.errors || (confirmPassword.value !== newPassword.value)) && (confirmPassword.dirty || confirmPassword.touched)" required/>
          <div *ngIf = "confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="formControlError">
            <div [hidden] = "!confirmPassword.errors.required">
              This field is required
            </div>
            <div [hidden] = "confirmPassword.errors.required || !confirmPassword.errors.minlength">
              Enter at least 8 characters.
            </div>
          </div>
          <div *ngIf = "!confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched) && (confirmPassword.value !== newPassword.value)" class="formControlError">
            This Password must match with new Password.
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <hr class="hr-dashed" />
      <div class="form-group row">
        <div class="col-md-2"></div>
        <div class="col-md-7">
            <button type="submit" class="btn btn-primary" [disabled] = "passwordForm.invalid || (newPassword.value !== confirmPassword.value)">Change Password</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
</div>
