.container-fluid {
  padding: 0;
}

.body-container label {
  font-size: 0.9em;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #18a689;
	border-color: #18a689;
	outline: none;
}
