td {
  text-transform: capitalize;
  vertical-align: middle;
  line-height: 1.5em;
  font-size: 0.93em;
}

td .glyphicon {
  margin: auto 15px;
  text-align: center;
  font-size: 1.30em;
}

.container-fluid {
  padding: 0;
}

.body-container label {
  font-size: 0.9em;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #18a689;
	border-color: #18a689;
	outline: none;
}

.label-container {
  text-align: right;
}

thead select {
  padding: 5px;
  padding-left: 3px;
  width: 100%;
}

.table thead tr th {
  padding: 8px;
  vertical-align: top;
}

.table thead tr th{
  border-bottom-width: 1px;
  font-size: 0.93em;
}

.table thead tr th input, .table thead tr th select {
  font-size: 0.8em;
}

material-datepicker input{
  font-size: 0.8em;
  color: #707070;
}

textarea {
  width: 90%;
  resize: none;
}

form select {
  width: 90%;
}

td .glyphicon {
  margin: auto auto;
}

.glyphicon {
  cursor: pointer;
}

.clickable-link {
  background: #18B689;
  color: white;
  padding: 3px;
  margin: 3px;
  border-radius: 4px;
  font-size: 1.05em;
  cursor: pointer;
}

.row-container {
  margin: 3px;
  padding: 3px;
  color: gray;
}
