<div class="container-fluid" [@FocusPanel]='state' [@MoveUpPanel]='state'>
  <div class="box-container">
    <div class="heading-container">
      <strong style="font-size: 0.95em;">Report</strong>
    </div>
    <hr />
    <div class="heading-container">
      <label style="margin: 15px;"></label>
      <button class="btn btn-primary pull-right" (click)="onExportLeadClick()"><span class="glyphicon glyphicon-export search-icon"></span>Export</button>
    </div>
    <hr style="margin-top: 0;" />
    <div class="body-container">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th style="width: 10%;" (click)="onCreatedSortClick()">
                Created On<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('created') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('created') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onNameSortClick()">
                Customer<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('fName') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('fName') >= 0 && sortFilter.order === false"></span>
              </th>
              <th>
                Mo. Number
              </th>
              <th (click)="onSourceSortClick()">
                Source<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('source') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('source') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onReqSortClick()">
                Requirement<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('requirement') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('requirement') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onStatusSortClick()">
                Status<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onAssignmentSortClick()">
                Assignment<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('assignment') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('assignment') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click)="onFollowupSortClick()">
                Follow Up Date<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('nextDate') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('nextDate') >= 0 && sortFilter.order === false"></span>
              </th>
              <th>
                Log
              </th>
            </tr>
            <tr>
              <th>
                <datetime [timepicker]="false" [(ngModel)]="filter.created"></datetime>
              </th>
              <th>
                <input type="text" placeholder="Customer Name" name="leadName" ngModel [(ngModel)] = "filter.name"/>
              </th>
              <th>
                <input type="text" placeholder="Phone Number" name="mobile" ngModel [(ngModel)] = "filter.mobile"/>
              </th>
              <th>
                <select  name="source" ngModel [(ngModel)] = "filter.source">
                  <option *ngFor="let source of sources" [value]="source.name">{{source.name}}</option>
                </select>
              </th>
              <th>
                <select name="requirement" ngModel [(ngModel)] = "filter.requirement">
                  <option *ngFor="let requirement of requirements" [value]="requirement.name" >{{requirement.name}}</option>
                </select>
              </th>
              <th>
                <select name="status" ngModel [(ngModel)] = "filter.status">
                  <option *ngFor="let status of statuses" [value]="status.name" >{{status.name}}</option>
                </select>
              </th>
              <th>
                <select  name="assignment" ngModel [(ngModel)] = "filter.assignment">
                  <option *ngFor="let user of users" [value]="user._id">{{user.firstName}} {{user.lastName}}</option>
                </select>
              </th>
              <th>
                <select name="ndate" ngModel [(ngModel)] = "filter.ndate">
                  <option value="">All</option>
                  <option value="red">Red</option>
                  <option value="purple">Purple</option>
                  <option value="green">Green</option>
                </select>
              </th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let lead of leads | leadfilter: {created: filter.created, name: filter.name, mobile: filter.mobile, status: filter.status, source: filter.source, requirement: filter.requirement, assignment: filter.assignment, ndate: filter.ndate} | orderBy: {type: sortFilter.type, order: sortFilter.order, fields: sortFilter.fields } | paginate: {itemsPerPage: listLimit, currentPage: page}">
              <td>
                {{lead.created | date: 'dd-MM-yyyy'}}
              </td>
              <td>
                {{lead.fName}} {{lead.lName}}
              </td>
              <td style="text-transform: lowercase;">
                {{lead.mobile}}
              </td>
              <td>
                {{lead.source}}
              </td>
              <td>
                {{lead.requirement}}
              </td>
              <td>
                {{lead.status}}
              </td>
              <td>
                {{lead.assignment}}
              </td>
              <td>
                <div class="overdueStatus" [class.overdue]="lead.overdueStatus === 'overdue'" [class.near-future]="lead.overdueStatus === 'near_future'" [class.safe]="lead.overdueStatus === 'safe'">
                  {{lead.nextDate | date:'dd-MM-yyyy'}}
                </div>
              </td>
              <td>
                <span class="glyphicon glyphicon-list-alt" data-toggle="modal" data-target="#addLogModel" (click) = "onLogClick(lead)"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="leads.length > limits[0]">
          <div class="pull-left">
            <label>Show </label>
          </div>
          <select class="input-control pull-left" style="width: auto; margin:auto 10px; padding: 2px 5px;" name="show" [(ngModel)] ="listLimit" required>
            <option *ngFor="let limit of limits" [value]="limit">
              {{limit}}
            </option>
          </select>
          <div class="pull-left">
            <label>Entries</label>
          </div>
          <div class="pull-right">
            <pagination-controls (pageChange) = "page = $event" maxSize="6" previousLabel="Prev"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="addLogModel" role="dialog">
  <div class="modal-dialog" style="margin-top: 8%; width: 80%;">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="pull-left">Lead Follow Up</h4>
        <span class="glyphicon glyphicon-remove pull-right" style=" line-height:3.0em; margin-left: 10px;" data-dismiss="modal"></span>
        <button class="btn btn-primary pull-right" (click)="onExportLogClick(modalLead)"><span class="glyphicon glyphicon-export search-icon"></span>Export</button>
      </div>
      <div class="modal-body" *ngIf="modalLead">
        <div class="row" *ngIf="followUps.length > 0">
          <div class="col-sm-7">
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Lead</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.fName}} {{modalLead.lName}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Phone Number</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.mobile}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Address</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.address}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Assigned To</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.assignment}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Next Follow Up Date</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.date | date: 'dd-MM-yyyy'}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Source</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.source}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Status</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.status}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Requirement</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalLead.requirement}}
              </div>
            </div>
            <div class="row row-container">
              <div class="col-xs-4">
                <label style="line-height: 1.0em;">Follow Up Details</label>
              </div>
              <div class="col-xs-1">
                :
              </div>
              <div class="col-xs-7">
                {{modalFollowUp.detail}}
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div *ngFor="let followup of followUps">
              <span style="display: inline-block">
                <div class="clickable-link" (click)="onChangeFollowUp(followup)" [style.background-color] = "modalFollowUp._id === followup._id ? purple : inherit">
                  {{followup.created | date: 'dd-MM-yyyy'}}
                </div>
              </span>
            </div>
          </div>
        </div>
        <div *ngIf="followUps.length <= 0" style="text-align: center;">
          No Follow Ups to Display.
        </div>
      </div>
    </div>
  </div>
</div>
