<div class="container" [@FocusPanel]='state' [@MovePanel]='state'>
	<div class="row mainContainer">
		<div class="col-md-6">
			<img src="./assets/img/logo.jpg" />
		</div>

		<div class="col-md-6">
			<form #loginForm = "ngForm" (ngSubmit) = "onLoginSubmit(loginForm)" novalidate>

				<div class="form-group">
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="row col-xs-10 inputContainer">
							<div class="row">
								<div class="col-xs-1 imgContainer">
									<img src="./assets/img/login_user.png" style="width: 40px;" />
								</div>
								<div class="col-xs-10">
									<input type="text" placeholder="Username" ngModel name="username" #username = 'ngModel' [(ngModel)] = 'loginCredentials.username' required />
								</div>
								<div class="col-xs-1"></div>
							</div>
						</div>
						<div class="col-xs-1"></div>
					</div>
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="col-xs-10" style="margin: 0px; padding: 0px;">
							<div *ngIf = "username.errors && (username.dirty || username.touched)" class="formControlError">
								<div [hidden] = "!username.errors.required">
									This field is required
								</div>
							</div>
						</div>
						<div class="col-xs-1"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="row col-xs-10 inputContainer">
							<div class="row">
								<div class="col-xs-1 imgContainer">
									<img src="./assets/img/login_2.png" style="width: 40px;"/>
								</div>
								<div class="col-xs-10">
									<input ngModel #password = 'ngModel' type="password" placeholder="Password" name="password" minlength = "8" [(ngModel)] = 'loginCredentials.password' required />
								</div>
								<div class="col-xs-1"></div>
							</div>
						</div>
						<div class="col-xs-1"></div>
					</div>
					<div class="row">
						<div class="col-xs-1"></div>
						<div class="col-xs-10" style="margin: 0px; padding: 0px;">
							<div *ngIf = "password.errors && (password.dirty || password.touched)" class="formControlError">
								<div [hidden] = "!password.errors.required">
									This field is required
								</div>
								<div [hidden] = "password.errors.required || !password.errors.minlength">
									Enter at least 8 characters.
								</div>
							</div>
						</div>
						<div class="col-xs-1"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="row">
						<div class="col-xs-1"></div>
							<button type="submit" [disabled] = "loginForm.invalid" class="col-xs-10 btn btn-primary">Login</button>
						<div class="col-xs-1"></div>
					</div>
				</div>

			</form>

			<div class="row" style="padding: 0px 10px;">
					<div class="col-xs-1"></div>
					<div class="col-xs-10" style="padding: 0px 0px; margin-bottom: 0px;">
						<a (click)="onForgetPassClick()" style="cursor: pointer;">Forgot Password?</a>
					</div>
					<div class="col-xs-1"></div>
			</div>
		</div>
	</div>
</div>
<my-footer></my-footer>
