.mainContainer {
	margin: 15% 15%;
	background: white;
	padding: 30px;
	box-shadow: lightgray 1px 1px 4px 1px;
}

.inputContainer {
	border: 1px solid lightgray;
	margin: 0;
	padding: 2px 0;
}

.btn {
	padding: 4px;
	margin: 0;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #18a689;
	border-color: #18a689;
	outline: none;
}

img {
	padding: 2px 5px;
	width: 100%;
}

input {
	border: none;
	margin: 0 10px;
	padding: 2px 8px;
	line-height: 2.0em;
	width: 100%;
	box-shadow: none;
}

:focus, :active, :hover {
	outline: none;
}

form {
	padding: 10px;
}
