<nav class="navbar navbar-default">
	<div style="margin-bottom: 20px;">
		<img src="./assets/img/logo_1_2.png" width="100%" *ngIf="!collapseNav"/>
		<div class="cname" *ngIf="collapseNav">
			<h4>
				{{shortName}}
			</h4>
		</div>
	</div>
	<ul>
		<li (click) ="onDashboardClick()">
			<div class="nav-item">
				<span class="glyphicon glyphicon-dashboard icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Dashboard</span>
			</div>
		</li>
		<li (click)="onLeadMngmntClick()">
			<div class="nav-item">
				<span class="fa fa-sitemap icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Lead Management</span>
			</div>
		</li>
		<li (click)="onUserMngmntClick()" *ngIf="userType === 'admin'">
			<div class="nav-item">
				<span class="fa fa-group icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">User Management</span>
			</div>
		</li>
		<li *ngIf="userType === 'admin'">
			<button data-toggle="collapse" data-target="#submenu" (click)="toggleArrow()">
				<div class="nav-item">
					<span class="glyphicon glyphicon-cog icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Master Management</span><span class="glyphicon glyphicon-menu-left small-icon hidden-xs hidden-sm" *ngIf="!collapseNav && toggleLeft"></span><span class="glyphicon glyphicon-menu-down small-icon hidden-xs hidden-sm" *ngIf="!collapseNav && !toggleLeft"></span>
				</div>
			</button>
		</li>
		<li id="submenu" class="collapse" *ngIf="userType === 'admin'">
			<ul [class.submenu] = "!collapseNav">
				<li (click)="onStatusClick()">
					<div class="nav-item">
						<span class="glyphicon glyphicon-ok-sign icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Status</span>
					</div>
				</li>
				<li (click) = "onSourceClick()">
					<div class="nav-item">
						<span class="glyphicon glyphicon-send icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Source</span>
					</div>
				</li>
				<li (click) = "onReqClick()">
					<div class="nav-item">
						<span class="glyphicon glyphicon-align-left icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Requirements</span>
					</div>
				</li>
				<li (click) = "onRoleClick()">
					<div class="nav-item">
						<span class="glyphicon glyphicon-user icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Roles</span>
					</div>
				</li>
			</ul>
		</li>
		<li (click) = "onReportClick()">
			<div class="nav-item">
				<span class="fa fa-newspaper-o icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Report</span>
			</div>
		</li>
		<li (click) = "onPasswordClick()">
			<div class="nav-item">
				<span class="fa fa-key icon"></span><span style="vertical-align: middle;" *ngIf="!collapseNav" class="hidden-sm hidden-xs">Change Password</span>
			</div>
		</li>
	</ul>
</nav>
