nav {
	height: 100%;
	margin: 0;
	font-weight: lighter;
}

.navbar {
	background: #031525;
	border: none;
	color: #B0B0B0;
}

ul {
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

.submenu {
	padding-left: 20px;
}

@media (max-width: 991px) {
	.submenu {
		padding-left: 0;
	}
}

.panel-default{
	margin: 0;
	border: none;
	border-radius: 0;
	padding: 10px 20px 10px 10px;
	background: #031525;
}

.nav-item {
	width: 100%;
	margin: 0;
	padding: 10px 20px 10px 10px;
}

.panel-heading {
	margin: 0;
	padding: 0;
	background: #031525;
	border: none;
	color: #B0B0B0;
}

button {
	width: 100%;
	background: transparent;
	border: none;
	padding: 0;
	text-align: left;
}

button:hover, button:active, button:focus{
	outline: none;
}

.cname {
	text-align: center;
	color: white;
	margin-top: 20px;
	font-weight: bolder;
}
