td {
  text-transform: capitalize;
  vertical-align: middle;
  line-height: 1.5em;
  font-size: 0.93em;
}

td .glyphicon {
  margin: auto 15px;
  text-align: center;
  font-size: 1.30em;
}

.container-fluid {
  padding: 0;
}

.body-container label {
  font-size: 0.9em;
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
	background: #18a689;
	border-color: #18a689;
	outline: none;
}

.label-container {
  text-align: right;
}

select {
  padding: 5px;
  padding-left: 10px;
  width: 90%;
}
