<div class="container-fluid" [@FocusPanel]='state' [@MoveUpPanel]='state' *ngIf="!showAddForm">
  <div class="box-container">
    <div class="heading-container">
      <strong style="font-size: 0.95em;">User Management</strong>
    </div>
    <hr />
    <div class="heading-container">
      <label><img src="./assets/img/user.png" width="38px" style="cursor: pointer;" (click)="onAddUserClick()"/></label>
      <button class="btn btn-danger pull-right" (click)="onResetAllClick()">Reset</button>
    </div>
    <hr style="margin-top: 0;" />
    <div class="body-container">
      <div class="table-responsive">
        <table class="table table-striped">
          <thead>
            <tr>
              <th (click)="onUsernameSortClick()">
                User Name<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('firstName') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('firstName') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click) = "onTypeSortClick()">
                Type<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('type') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('type') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click) = "onEmailSortClick()">
                Email Id<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('email') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('email') >= 0 && sortFilter.order === false"></span>
              </th>
              <th (click) = "onStatusSortClick()">
                Status<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order === false"></span>
              </th>
              <th>
                Edit
              </th>
              <th>
                Delete
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <input type="text" placeholder="User Name" name="name" ngModel [(ngModel)]="filter.name"/>
              </td>
              <td>
                <select name="type" ngModel [(ngModel)]="filter.type">
                  <option value="">All</option>
                  <option value="admin">Admin</option>
                  <option value="user">User</option>
                </select>
              </td>
              <td>
                <input type="email" placeholder="Email Id" name="email" ngModel [(ngModel)]="filter.email"/>
              </td>
              <td>
                <select name="status" ngModel [(ngModel)]="filter.status">
                  <option value="">All</option>
                  <option value="open">Unblocked</option>
                  <option value="close">Blocked</option>
                </select>
              </td>
              <td></td>
              <td></td>
            </tr>
            <tr *ngFor="let user of users | userFilter: {name: filter.name, type: filter.type, email: filter.email, status: filter.status} | orderBy: {type: sortFilter.type, order: sortFilter.order, fields: sortFilter.fields } |paginate: {itemsPerPage: listLimit, currentPage: page}">
              <td>
                {{user.firstName}} {{user.lastName}}
              </td>
              <td>
                {{user.type}}
              </td>
              <td style="text-transform: lowercase;">
                {{user.email}}
              </td>
              <td>
                <label class="switch" >
                  <input type="checkbox" name="status" [checked]="user.status" (click)="onStatusChange(user)">
                  <div class="slider round"></div>
                </label>
              </td>
              <td>
                <span class="glyphicon glyphicon-edit icon-small" (click)="onEditClick(user)"></span>
              </td>
              <td>
                <span class="glyphicon glyphicon-trash icon-small" (click)="onDeleteClick(user)"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="users.length > limits[0]">
          <div class="pull-left">
            <label>Show </label>
          </div>
          <select class="input-control pull-left" style="width: auto; margin:auto 10px; padding: 2px 5px;" name="show" [(ngModel)] ="listLimit" required>
            <option *ngFor="let limit of limits" [value]="limit">
              {{limit}}
            </option>
          </select>
          <div class="pull-left">
            <label>Entries</label>
          </div>
          <div class="pull-right">
            <pagination-controls (pageChange) = "page = $event" maxSize="6" previousLabel="Prev"></pagination-controls>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid box-container" [@FocusPanel]='state' [@MovePanel]='state' *ngIf="showAddForm">
  <div class="heading-container">
    <label *ngIf="!updateUser">Add New User</label>
    <label *ngIf="updateUser">Edit User</label>
  </div>
  <hr />
  <div class="body-container">
    <form #userForm ='ngForm' (ngSubmit)="onSubmit(userForm)">
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>First Name</label>
        </div>
        <div class="col-md-6">
            <input type="text" name="fname" class="input-control" #fName='ngModel' minlength = "3" ngModel [(ngModel)] ="newUser.fName" [class.input-error] = "fName.errors && (fName.dirty || fName.touched)" pattern='[a-zA-Z]*' required/>
            <div *ngIf = "fName.errors && (fName.dirty || fName.touched)" class="formControlError">
              <div [hidden] = "!fName.errors.required">
                This field is required
              </div>
              <div [hidden] = "fName.errors.required || !fName.errors.minlength">
                Enter at least 3 characters.
              </div>
              <div [hidden] = "fName.errors.required || fName.errors.minlength || !fName.errors.pattern">
                Only alphabetic charaters allowed.
              </div>
            </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Last Name</label>
        </div>
        <div class="col-md-6">
          <input type="text" name="lName" pattern="[a-zA-Z]*" class="input-control" #lName='ngModel' minlength = "3" ngModel [(ngModel)] ="newUser.lName" [class.input-error] = "lName.errors && (lName.dirty || lName.touched)" required/>
          <div *ngIf = "lName.errors && (lName.dirty || lName.touched)" class="formControlError">
            <div [hidden] = "!lName.errors.required">
              This field is required
            </div>
            <div [hidden] = "lName.errors.require || !lName.errors.minlength">
              Enter at least 3 characters.
            </div>
            <div [hidden] = "lName.errors.require || lName.errors.minlength || !lName.errors.pattern">
              Only alphabetic characters allowed.
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Username</label>
        </div>
        <div class="col-md-6">
          <input type="text" name="username" class="input-control" #username='ngModel' minlength = "3" ngModel [(ngModel)] ="newUser.username" [class.input-error] = "username.errors && (username.dirty || username.touched)" required/>
          <div *ngIf = "username.errors && (username.dirty || username.touched)" class="formControlError">
            <div [hidden] = "!username.errors.required">
              This field is required
            </div>
            <div [hidden] = "username.errors.require || !username.errors.minlength">
              Enter at least 3 characters.
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Email</label>
        </div>
        <div class="col-md-6">
          <input type="email" name="email" class="input-control" #email='ngModel' ngModel [(ngModel)] ="newUser.email" [class.input-error] = "email.errors && (email.dirty || email.touched)" email required/>
          <div *ngIf = "email.errors && (email.dirty || email.touched)" class="formControlError">
            <div [hidden] = "!email.errors.required">
              This field is required
            </div>
            <div [hidden] = "email.errors.require || !email.errors.email">
              Enter valid Email address.
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>User Type</label>
        </div>
        <div class="col-md-6">
          <select class="input-control" name="userType" [(ngModel)] ="newUser.type" required>
            <option *ngFor="let userType of userTypes" [value]="userType.name" [selected] = "userType.name === userTypes[0].name">
              {{userType.value}}
            </option>
          </select>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row" *ngIf="newUser.type === 'user'">
        <div class="col-md-3 label-container">
            <label>Role</label>
        </div>
        <div class="col-md-6">
          <select class="input-control" name="userRole" [(ngModel)] ="newUser.role" required>
            <option *ngFor="let role of roles" [value]="role.name" [selected] = "role.name === roles[0].name">
              {{role.name}}
            </option>
          </select>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>New Password</label>
        </div>
        <div class="col-md-6">
          <input type="password" [disabled]="updateUser" name="newPassword" class="input-control" #newPassword='ngModel' minlength = "8" ngModel [(ngModel)] ="newUser.password" [class.input-error] = "newPassword.errors && (newPassword.dirty || newPassword.touched)" required/>
          <div *ngIf = "newPassword.errors && (newPassword.dirty || newPassword.touched)" class="formControlError">
            <div [hidden] = "!newPassword.errors.required">
              This field is required
            </div>
            <div [hidden] = "newPassword.errors.require || !newPassword.errors.minlength">
              Enter at least 8 characters.
            </div>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Retype New Password</label>
        </div>
        <div class="col-md-6">
          <input type="password" [disabled]="updateUser" name="confirmPassword" class="input-control" [(ngModel)] = 'newUser.confirmPassword' #confirmPassword='ngModel' minlength = "8" ngModel [class.input-error] = "(confirmPassword.errors || (confirmPassword.value !== newPassword.value)) && (confirmPassword.dirty || confirmPassword.touched)" required/>
          <div *ngIf = "confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched)" class="formControlError">
            <div [hidden] = "!confirmPassword.errors.required">
              This field is required
            </div>
            <div [hidden] = "confirmPassword.errors.required || !confirmPassword.errors.minlength">
              Enter at least 8 characters.
            </div>
          </div>
          <div *ngIf = "!confirmPassword.errors && (confirmPassword.dirty || confirmPassword.touched) && (confirmPassword.value !== newPassword.value)" class="formControlError">
            This Password must match with new Password.
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
      <div class="form-group row">
        <div class="col-md-3 label-container">
            <label>Status</label>
        </div>
        <div class="col-md-6">
          <label class="switch" >
            <input type="checkbox" name="status" [checked] = "newUser.status" (change) ="newUser.status = !newUser.status" >
            <div class="slider round"></div>
          </label>
        </div>
        <div class="col-md-3"></div>
      </div>
      <hr class="hr-dashed" />
      <div class="form-group row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <button type="button" class="btn btn-primary" [disabled] = "userForm.invalid" (click)="onUpdateClick()" *ngIf="updateUser">Update</button>
            <button type="submit" class="btn btn-primary" [disabled] = "userForm.invalid || (newPassword.value !== confirmPassword.value)" *ngIf='!updateUser'>Submit</button>
            <button type="button" class="btn btn-danger" (click)="onCancelClick(userForm)">Cancel</button>
        </div>
        <div class="col-md-3"></div>
      </div>
    </form>
  </div>
</div>
