<div class="container-fluid main-container">
	<div class="row">
		<div class="col-xs-2 col-sm-6">
			<button type="button" class="btn btn-primary" (click) = "fireEvent()">
				<span class="glyphicon glyphicon-menu-hamburger"></span>
			</button>
			<span class="text-container"></span>
			<div class="hidden-xs text-container">
				Welcome {{ name }}
			</div>
		</div>
		<div class="col-xs-10 col-sm-6">
			<div class="pull-right">
				<div class="hidden-xs text-right text-container" style="margin-right: 5px;">
					{{ name }}
				</div>
				<button type="button" class="btn btn-primary hidden-xs">
					<span class="glyphicon glyphicon-edit" (click) ="onAddLeadClick()"></span>
				</button>
				<button class="text-right text-container logout" (click) = "onLogoutClick()">
					<span class="glyphicon glyphicon-log-out"></span>Logout
				</button>
			</div>
		</div>
	</div>
</div>
