.btn:hover, .btn:active, .btn:focus {
	background: #18a689;
	border-color: #18a689;
	outline: none;
}

.text-container {
	display: inline-block;
	line-height: 2.4em;
	padding: 5px;
}

.main-container {
	background: white;
	padding: 5px;
	color: gray;
}

.logout {
	padding: 0px 20px;
	font-size: 1.1em;
	background: transparent;
	border: none;
}

.logout:hover, .logout:active, .logout:focus {
	outline: none;
}

.logout span {
	margin-right: 7px;
}
