<div class="container-fluid" style="overflow-x: hidden;">
  <div class="row">
    <div class="col-lg-6" [@FocusPanel]='state' [@MovePanel]='state'>
      <div class="box-container">
        <div class="heading-container">
          <label>Requirements</label>
          <button class="btn btn-danger pull-right" (click)="onResetAllClick(requirementForm)">Reset</button>
        </div>
        <hr />
        <div class="body-container">
          <table class="table table-striped">
            <thead>
              <tr>
                <th (click) = "onNameSortClick()">
                  Requirement Name<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('name') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('name') >= 0 && sortFilter.order === false"></span>
                </th>
                <th (click) = "onStatusSortClick()">
                  Status<span class="glyphicon glyphicon-arrow-up" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order"></span><span class="glyphicon glyphicon-arrow-down" *ngIf="sortFilter.fields.indexOf('status') >= 0 && sortFilter.order === false"></span>
                </th>
                <th>
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <input type="text" placeholder="Requirement Name" name="name" ngModel [(ngModel)]="filter.name"/>
                </td>
                <td>
                  <select name="status" ngModel [(ngModel)]="filter.status">
                    <option value="">All</option>
                    <option value="close">Blocked</option>
                    <option value="open">Unblocked</option>
                  </select>
                </td>
                <td></td>
              </tr>
              <tr *ngFor="let requirement of requirements | masterFilter: {name: filter.name, status: filter.status} | orderBy: { type: sortFilter.type, order: sortFilter.order, fields: sortFilter.fields } | paginate: {itemsPerPage: listLimit, currentPage: page}">
                <td>
                  {{requirement.name}}
                </td>
                <td>
                  <label class="switch" >
                    <input type="checkbox" name="status" [checked] = "requirement.status" (change) ="onStatusChange(requirement)" >
                    <div class="slider round"></div>
                  </label>
                </td>
                <td>
                  <span class="glyphicon glyphicon-trash icon-small" style="text-align: center;" (click) = "onDeleteClick(requirement)"></span>
                </td>
              </tr>
            </tbody>
          </table>
          <div *ngIf="requirements.length > limits[0]">
            <div class="pull-left">
              <label>Show </label>
            </div>
            <select class="input-control pull-left" style="width: auto; margin:auto 10px; padding: 2px 5px;" name="show" [(ngModel)] ="listLimit" required>
              <option *ngFor="let limit of limits" [value]="limit">
                {{limit}}
              </option>
            </select>
            <div class="pull-left">
              <label>Entries</label>
            </div>
            <div class="pull-right">
              <pagination-controls (pageChange) = "page = $event;" maxSize="3" previousLabel="Prev"></pagination-controls>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6" [@FocusPanel]='state' [@MovePanel]='state'>
      <div class="box-container">
        <div class="heading-container">
          <label>Add New Requirement</label>
        </div>
        <hr />
        <div class="body-container">
          <form #requirementForm='ngForm' (ngSubmit) ="onFormSubmit(requirementForm)">
            <div class="form-group">
              <div class="row">
                <div class="col-xs-3" style="margin-left: 10px;">
                  <label>Requirement</label>
                </div>
                <div class="col-xs-6">
                  <input type="text"  #requirementName='ngModel' id="requirementTextBox" name="requirement" [(ngModel)] = 'newRequirement.name' placeholder="Requirement Name" minlength="3" pattern="[a-zA-Z ]*" required/>
                </div>
                <div class="col-xs-2">
                  <button type="submit" class="btn btn-primary submit-btn" [disabled] = "requirementForm.invalid">Submit</button>
                </div>
              </div>
              <div class="row">
                <div class="col-xs-3"></div>
                <div class="col-xs-8">
                  <div *ngIf = "requirementName.errors && (requirementName.dirty || requirementName.touched)" class="formControlError">
                    <div [hidden] = "!requirementName.errors.required">
                      This field is required
                    </div>
                    <div [hidden] = "requirementName.errors.required || !requirementName.errors.minlength">
                      Enter at least 3 characters.
                    </div>
                    <div [hidden] = "requirementName.errors.required || requirementName.errors.minlength || !requirementName.errors.pattern">
                      Enter Only Alphabetic characters.
                    </div>
                  </div>
                </div>
                <div class="col-xs-1"></div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
