/* You can add global styles to this file, and also import other style files */
html {
	color: black;
	font-family: "open sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 1em;
	height: 100%;
}

body {
	background: #F3F3F4;
	margin: 0;
	padding: 0;
	vertical-align: middle;
	overflow: hidden;
	overflow-y: hidden;
	height: 100%;
}

.btn-primary {
	background: #1ab394;
	border: 1px solid #1ab394;
	border-radius: 5px;
}

flash-messages {
	text-align: center;
	text-transform: capitalize;
}

app-dashboard {
	height: 100%;
}

.formControlError {
	padding: 3px 0 0 3px;
	color: #B22;
	font-size: 0.95em;
	font-weight: bold;
}

.heading-container {
	padding: 15px;
	padding-top: 10px;
	text-overflow: ellipsis;
	-webkit-font-smoothing: antialiasing;
	font-size: 1.10em;
	letter-spacing: 0px;
	font-family: "open-sans", sans-serif;
	color: #707070;
}

.body-container {
	padding: 15px;
	text-overflow: ellipsis;
	-webkit-font-smoothing: antialiasing;
	font-size: 1.0em;
	color: #707070;
}

.form-group {
	margin-top: 15px;
	margin-bottom: 22px;
}

hr {
	border-width: 1px;
	border-color: lightgray;
	padding-bottom: 0;
	margin-bottom: 0;
}

label {
	vertical-align: middle;
	line-height: 2.0em;
}

input {
	width: 100%;
	padding: 3px 5px 3px 8px;
}

.hr-dashed {
	border-style: dashed;
	border-width: 1px;
}

nav li {
	cursor: pointer;
}

.switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 24px;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 21px;
  width: 21px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #1AB394;
}

input:not(checked) + .slider {
	background-color: #EF806F;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.icon {
	font-size: 1.2em;
	margin: 5px;
	margin-right: 15px;
	vertical-align: middle;
}

.icon-small {
  font-size: 1.3em;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 200%;
  vertical-align: middle;
  cursor: pointer;
}

.search-icon {
  font-size: 1.1em;
  padding-left: 5px;
  padding-right: 5px;
  line-height: 1.0em;
  vertical-align: middle;
  cursor: pointer;
}

.small-icon {
	font-size: 0.9em;
	margin-left: 15px;
	vertical-align: middle;
}

.box-container {
	margin: 0;
	box-shadow: #BBB 1px 1px 3px 1px;
	overflow-y: auto;
	border-top: 2px solid lightblue;
	background: white;
	margin-bottom: 20px;
}

tbody td {
	font-size: 0.85em;
}

.ng2-datetime .input-group-addon{
	display: none;
}

.ng2-datetime input {
	padding: 3px 5px 3px 8px;
	font-size: 0.97em;
	font-weight: normal;
	outline: none;
	margin: 0;
	color: gray;
	border-radius: 0;
}

.ng2-datetime input:hover, .ng2-datetime input:focus, .ng2-datetime input:active {
	outline: none;
	margin: 0;
	border-radius: 0;
	border: 1px solid #4FAF50;
}

.ng2-datetime:focus, .ng2-datetime:hover, .ng2-datetime:active {
	outline: none;
}

.ng2-datetime .input-group {
	margin-top: 0;
	width: 100%;
}

.ng2-datetime .form-control {
	height: auto;
}

@media (max-width: 991px) {

	.nav-collapse .nav-item {
		display: none;
	}

}

#followUp-ndate .input-group, #form-date .ng2-datetime .input-group {
	width: 90%;
}

.overdueStatus {
	color: white;
	padding: 5px 3px;
	border-radius: 5px;
}

.overdue {
	background: #ED5565;
}

.safe {
	background: #539756;
}

.near-future {
	background: #800080;
}
